<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<header>
    <a href="{% url 'parent' %}"><Button>Parent</Button></a>
    <a href="{% url 'child1' %}"><Button>Child1</Button></a>
    <a href="{% url 'child2' %}"><Button>Child2</Button></a>
    <a href="{% url 'child3' %}"><Button>Child3</Button></a>
    <a href="{% url 'tree' %}"><Button>View tree</Button></a>
</header>
<body>
    
</body>
</html>